*{
	margin: 0;
	padding: 0;
}
#menu_text{
	background-color: #42f5d7;
	text-align: center;
	padding: 80px;
}
nav{
	background-color: #333;
	overflow: hidden;
	/*padding: 14px 20px;*/
}
nav a{
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	/*float: left;*/

}
nav a:hover{
	background-color: #DDD;
	color: black;
}
.clas{
	float: left;

}
.clas1{
	float: right;
}

#left_side{
	flex: 30%;
}
#right_side{
	flex: 70%;
}
#flex_container{
	display: flex;
}